/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 feb 2023, 20:55:11
    Author     : adrian
*/

.panel {
    -fx-background-color: #FFEBCD;
    
}

.panelreservacomanda {
    -fx-background-color: #DEB887;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

.butonaccedir {
     -fx-background-color: #DEB887;
     -fx-text-fill: #000000;
    -fx-font: Arial;
    -fx-font-size: 15pt;
}

.panelreserva {
    -fx-background-color: #DEB887;
}
.bgtableview {
    -fx-background-color: #DEB887;
}
.buttonTop {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}