/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 feb 2023, 20:55:11
    Author     : adrian
*/

.panel {
    -fx-background-color: #FFEBCD;
    
}

.panelreservacomanda {
    -fx-background-color: #DEB887;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

.butonaccedir {
     -fx-background-color: #DEB887;
     -fx-text-fill: #000000;
    -fx-font: Arial;
    -fx-font-size: 15pt;
}

.panelreserva {
    -fx-background-color: #DEB887;
}
.bgtableview {
    -fx-background-color: #DEB887;
}